<h2>Admin Page</h2>

<h4> Product :{{productName}}</h4>
<h5>price : {{price}}</h5>
<table>
    <tr>
        <td>
            <label for="">Name</label>
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            <label for="">City</label>
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
     <tr>
        <td>
            <label for="">State</label>
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
</table>

<hr>
<hr> 

<app-data-types></app-data-types>
 

