<h2>User Portal</h2>
<p>This is User portal to Crrate user and modify</p>
<h3>{{courseName}} -- {{duration}}</h3>
<table>
    <tr>
        <th>Sr no</th>
        <th>Name</th>
        <th>City</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Chetan</td>
        <td>Pune</td>
    </tr>
      <tr>
        <td>1</td>
        <td>Chetan</td>
        <td>Pune</td>
    </tr>
      <tr>
        <td>1</td>
        <td>Chetan</td>
        <td>Pune</td>
    </tr>
      <tr>
        <td>1</td>
        <td>Chetan</td>
        <td>Pune</td>
    </tr>
</table>