.primary {
    color: red;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.secondary {
    color: teal;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}