<div class="row">
    <div class="col-3">
        <input type="text" #courseNameTem class="form-control" placeholder="Course Name">
    </div>
    <div class="col-3">
        <button (click)="readCourse()">Read Course</button>
    </div>
    <div class="col-3">
        <button (click)="setJava()">Set Java</button>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-alert [alertType]="'Warning'" [alertMessage]="'Welcome to ViewChild Page'"> </app-alert>
    </div>
    <div class="col-6">
        <app-progree-bar [progress]="50"></app-progree-bar>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="p-4" #myDiv>
            Div 11
        </div>
    </div>
    <div class="col-3">
        <button (click)="addDivColor('red')">Red</button>
        <button  (click)="addDivColor('green')">Green</button>
    </div>
</div>

<button (click)="redData()">Reed Compoent Data</button>